<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Log in</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/assets/css/estilos.css}">
</head>
<body>
    <div class="cod-container">
        <div class="form-header">
            <img th:src="@{/assets/img/logo3.jfif}" alt="DKStore">
            <h1>DK<span>Store</span></h1>
        </div>
        <div class="form-content">
	        <form th:action="@{/reset-password}" method="post" id="resetPasswordForm" class="cod-form">
			    <div class="form-title">
			        <h3>Tạo mật khẩu mới</h3>
			    </div>
			
			    <div class="input-group">
			        <input type="password" class="form-input" name="newPassword" id="new-password" placeholder=" " required>
			        <label class="label" for="new-password">Mật khẩu mới</label>
			    </div>
			
			    <div class="input-group">
			        <input type="password" class="form-input" id="re-enter-password" placeholder=" " required>
			        <label class="label" for="re-enter-password">Nhập lại mật khẩu</label>
			    </div>
			
			    <div class="input-group">
			        <input type="hidden" name="token" th:value="${token}">
			        <input type="submit" class="form-input" value="Đặt lại mật khẩu">
			    </div>
			</form>
		</div>        
    </div>  
   

    <script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/js/form.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:inline="javascript">
	    /*<![CDATA[*/
	    let successMessage = /*[[${successMessage}]]*/ null;
	    let errorMessage = /*[[${errorMessage}]]*/ null;
	
	    if (successMessage !== null) {
	        toastr.success(successMessage);
	    }
	
	    if (errorMessage !== null) {
	    	toastr.error(errorMessage);
	    }
	    /*]]>*/
		document.getElementById("resetPasswordForm").addEventListener("submit", function (e) {
		    const newPassword = document.getElementById("new-password").value;
		    const reEnterPassword = document.getElementById("re-enter-password").value;
		
		    // Kiểm tra điều kiện validation
		    if (newPassword.length < 8 || !/[A-Z]/.test(newPassword)) {
		        toastr.error("Mật khẩu phải có ít nhất 8 ký tự và 1 ký tự in hoa.");
		        e.preventDefault(); // Ngừng việc submit form
		    } else if (newPassword !== reEnterPassword) {
		        toastr.error("Mật khẩu và Xác nhận mật khẩu không trùng khớp.");
		        e.preventDefault(); // Ngừng việc submit form
		    }
		});
	</script>

	
</body>
</html>