<footer class="footer section text-center" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="social-media">
						<li><a th:href="@{https://www.facebook.com/profile.php?id=100027980146881}">
								<i class="tf-ion-social-facebook"></i>
						</a></li>
						<li><a th:href="@{https://www.instagram.com/kha.i01/}">
								<i class="tf-ion-social-instagram"></i>
						</a></li>
						<li><a th:href="@{https://x.com/TK3359680620044?t=bCIML7L1ikZIXmrjjzMbbg&s=09}">
								<i class="tf-ion-social-twitter"></i>
						</a></li>
						<li><a th:href="@{https://github.com/lekhai0123}">
								<i class="tf-ion-social-github"></i>
						</a></li>
					</ul>
					<ul class="footer-menu text-uppercase">
						<li><a th:href="@{contact.html}">CONTACT</a></li>
						<li><a th:href="@{shop.html}">SHOP</a></li>
						<li><a th:href="@{pricing.html}">Pricing</a></li>
						<li><a th:href="@{contact.html}">PRIVACY POLICY</a></li>
					</ul>
					<p class="copyright-text">
						Copyright &copy;2024, Designed &amp; Developed by <a
							th:href="@{https://themefisher.com/}">DKStore</a>
					</p>
				</div>
			</div>
		</div>
	</footer>